
html {
	box-sizing: border-box;
}
*, *::before, *::after {
	box-sizing: inherit;
}


html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	border-radius: .5em;
}

body {
	display: grid;
	place-items:center;
	height: 100vh;
}
